html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*
    home / index
 */
.jumbotron {
    margin-top: -30px;
}

.home-stats {
    margin-top: -30px;
}

.body-content {
    padding-top: 5%;
}

.width-90-perc {
    width: 90%;
}

.home-stats .stat {
    padding: 20px;
    font-size: 13px;
    color: white;
    border-radius: 10px;

}

.home-stats .stat a {
    color: white;
}

.home-stats .stat a:hover {
    text-decoration: none;
}

.home-stats .stat span {
    display: block;
    font-size: 60px;
}

.home-stats .st-users {
    background-color: #22559C;
}

.home-stats .st-shops {
    background-color: #F27370;
}

.home-stats .st-pending {
    background-color: #FA9856;
}

.home-stats .st-items {
    background-color: #8e44ad;
}


.latest {
    margin-top: 30px;
}

.pic-user {
    margin: 2px;
}

.latest-users {
    margin-bottom: 0;
}

.latest-users li {
    padding: 8px;

}

.latest-users li:nth-child(odd) {
    background-color: #EEE;
}

.upload-image {
    width: 212px;
    height: 161px;
}

.shop-pic {
    width: 300px;
}

/*
 end home / index
*/

.content-wrapper {
    background-color: white !important;
}

@media only screen and (max-width: 600px) {
    .p-b-mobile {
        padding-bottom: 10px;
    }
}

.p-l-14perc {
    padding-left: 14%;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 90px !important;
}

