html,
body {
    height: 100%;
}

input[type=text] {
    width: 30%;
}

table input{
    width: 100% !important;
}

.flex {
    display: flex;
}

.flex input {
    width: 100% !important;
}

.w-30-perc {
    width: 30%;
}

.w-50-perc {
    width: 50%;
}

.p-l-r {
    padding-left: 3px;
    padding-right: 3px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*
 shop home
 */
.shop-panel {
    border-radius: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#myCarousel {
    margin-bottom: 0px;
}

.logout {
    color: black;
}

.thead-dark {
    background-color: #E4EDDB;
}

ul.list-group {
    margin-right: 0;
}

.list-group li {
    display: block;
    margin-top: 2px;
}

.list-group li a {
    text-align: center;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
}

div#spaceup {
    display: block;
    margin-top: 10px;
}

div.card-bodyhome {
    border: 1px solid #ccc;
    box-shadow: 2px 4px 10px #0d3349;
    height: 180px;
}

.pl {
    width: 15px;
    height: 15px;
}

.shopCardPic {
    width: 100%;
    height: 70%;
}

@media (max-height: 600px) {
    div.card-bodyhome {
        border: 1px solid #ccc;
        box-shadow: 2px 4px 10px #0d3349;
        height: 110px;
        margin-bottom: 10px;
    }
}

.login-bt {
    color: black;
    background-color: white;
}

.login-bt :hover {
    text-decoration: none;
}

/*
    item image
*/
.upload-image {
    height: 100%;
    width: 100%;
}

.shop-pic {
    width: 300px;
}

.shop-time {
    padding-bottom: 24px;
    padding-left: 3px;
    padding-right: 3px;
}

.input-group-addon {
    border-top-right-radius: 8px !important;;
    border-bottom-right-radius: 8px !important;;
    border-top-left-radius: 0 !important;;
    border-bottom-left-radius: 0 !important;;
}

.full-width {
    width: 100% !important;
}

.text-center {
    text-align: center;
}

.list-group-item {
    margin-left: 10%;
    margin-right: 3px;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: 40vh;
    height: 20vh;
}

.p-b-24{
    padding-bottom: 24px;
}